{% extends 'home/footer_header.html' %}
    {% block content %}
    
    <section class="hero-wrap hero-wrap-2" style="background-image: url('/media/images/bg_1.jpg');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-2 bread">Blog Single</h1>
            <p class="breadcrumbs"><span class="mr-2"><a href="{% url 'home' %}">Home <i class="ion-ios-arrow-forward"></i></a></span> <span class="mr-2"><a href="{% url 'blog' %}">Blog <i class="ion-ios-arrow-forward"></i></a></span> <span>Blog Single <i class="ion-ios-arrow-forward"></i></span></p>
          </div>
        </div>
      </div>
    </section>
		
		<section class="ftco-section">
			<div class="container">
				<div class="row">
          <div class="col-lg-8 ftco-animate">
          	<p>
              <img src="{{blogletter.img.url}}" alt="" class="img-fluid">
            </p>
            <h2 class="mb-3">{{blogletter.title}}</h2>
            <p>{{blogletter.letter}}</p>

<!--            Tag lar bilan ishlashni organgunga qadar qoldiramiz-->
<!--            <div class="tag-widget post-tag-container mb-5 mt-5">-->
<!--              <div class="tagcloud">-->
<!--                <a href="#" class="tag-cloud-link">Life</a>-->
<!--                <a href="#" class="tag-cloud-link">Sport</a>-->
<!--                <a href="#" class="tag-cloud-link">Tech</a>-->
<!--                <a href="#" class="tag-cloud-link">Travel</a>-->
<!--              </div>-->
<!--            </div>-->
            
            <div class="about-author d-flex p-4 bg-light">
              <div class="bio mr-5">
                <img src="blogletter.user.img.url" alt="Image placeholder" class="img-fluid mb-4">
              </div>
              <div class="desc">
                <h3>{{blogletter.user.fullName}}</h3>
                <p>{{blogletter.user.about}}</p>
              </div>
            </div>


            <div class="pt-5 mt-5">
              <h3 class="mb-5 h4 font-weight-bold">{{blogletter.comment_set.count}} Comments</h3>
              <ul class="comment-list">
                {% for com in blogletter.get_review %}
                <li class="comment">
                  <div class="vcard bio">
                    <img src="/media/images/person_1.jpg" alt="Image placeholder">
                  </div>
                  <div class="comment-body">
                    <h3>{{com.name}}</h3>
                    <div class="meta mb-2">{{com.date}}</div>
                    <p>{{com.text}}</p>
                    <p><a href="#formComment" onClick="addCommentId('{{com.name}}', '{{com.id}}')" class="reply">Reply</a></p>
                  </div>


                            <ul class="children">
                              {% for child in com.comment_set.all%}
                              <li class="comment">
                                <div class="vcard bio">
                                  <img src="/media/images/person_1.jpg" alt="Image placeholder">
                                </div>
                                <div class="comment-body">
                                  <h3>{{child.name}}</h3>
                                  <div class="meta mb-2">{{child.date}}</div>
                                  <p>{{child.text}}</p>
<!--                                  <p><a href="#" class="reply">Reply</a></p>-->
                                </div>
                              </li>
                              {% endfor%}
                            </ul>
                          </li>
                {% endfor %}

<!--                <li class="comment">-->
<!--                  <div class="vcard bio">-->
<!--                    <img src="images/person_1.jpg" alt="Image placeholder">-->
<!--                  </div>-->
<!--                  <div class="comment-body">-->
<!--                    <h3>John Doe</h3>-->
<!--                    <div class="meta mb-2">January 03, 2019 at 2:21pm</div>-->
<!--                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum necessitatibus, ipsam impedit vitae autem, eum officia, fugiat saepe enim sapiente iste iure! Quam voluptas earum impedit necessitatibus, nihil?</p>-->
<!--                    <p><a href="#" class="reply">Reply</a></p>-->
<!--                  </div>-->

<!--                  <ul class="children">-->
<!--                    <li class="comment">-->
<!--                      <div class="vcard bio">-->
<!--                        <img src="images/person_1.jpg" alt="Image placeholder">-->
<!--                      </div>-->
<!--                      <div class="comment-body">-->
<!--                        <h3>John Doe</h3>-->
<!--                        <div class="meta mb-2">January 03, 2019 at 2:21pm</div>-->
<!--                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum necessitatibus, ipsam impedit vitae autem, eum officia, fugiat saepe enim sapiente iste iure! Quam voluptas earum impedit necessitatibus, nihil?</p>-->
<!--                        <p><a href="#" class="reply">Reply</a></p>-->
<!--                      </div>-->


<!--                      <ul class="children">-->
<!--                        <li class="comment">-->
<!--                          <div class="vcard bio">-->
<!--                            <img src="images/person_1.jpg" alt="Image placeholder">-->
<!--                          </div>-->
<!--                          <div class="comment-body">-->
<!--                            <h3>John Doe</h3>-->
<!--                            <div class="meta mb-2">January 03, 2019 at 2:21pm</div>-->
<!--                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum necessitatibus, ipsam impedit vitae autem, eum officia, fugiat saepe enim sapiente iste iure! Quam voluptas earum impedit necessitatibus, nihil?</p>-->
<!--                            <p><a href="#" class="reply">Reply</a></p>-->
<!--                          </div>-->

<!--                            <ul class="children">-->
<!--                              <li class="comment">-->
<!--                                <div class="vcard bio">-->
<!--                                  <img src="images/person_1.jpg" alt="Image placeholder">-->
<!--                                </div>-->
<!--                                <div class="comment-body">-->
<!--                                  <h3>John Doe</h3>-->
<!--                                  <div class="meta mb-2">January 03, 2019 at 2:21pm</div>-->
<!--                                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum necessitatibus, ipsam impedit vitae autem, eum officia, fugiat saepe enim sapiente iste iure! Quam voluptas earum impedit necessitatibus, nihil?</p>-->
<!--                                  <p><a href="#" class="reply">Reply</a></p>-->
<!--                                </div>-->
<!--                              </li>-->
<!--                            </ul>-->
<!--                        </li>-->
<!--                      </ul>-->
<!--                    </li>-->
<!--                  </ul>-->
<!--                </li>-->

<!--                <li class="comment">-->
<!--                  <div class="vcard bio">-->
<!--                    <img src="images/person_1.jpg" alt="Image placeholder">-->
<!--                  </div>-->
<!--                  <div class="comment-body">-->
<!--                    <h3>John Doe</h3>-->
<!--                    <div class="meta mb-2">January 03, 2019 at 2:21pm</div>-->
<!--                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum necessitatibus, ipsam impedit vitae autem, eum officia, fugiat saepe enim sapiente iste iure! Quam voluptas earum impedit necessitatibus, nihil?</p>-->
<!--                    <p><a href="#" class="reply">Reply</a></p>-->
<!--                  </div>-->
<!--                </li>-->
              </ul>
              <!-- END comment-list -->
              
              <div class="comment-form-wrap pt-5">
                <h3 class="mb-5 h4 font-weight-bold">Leave a comment</h3>
                <form action="{% url 'add_comment' blogletter.id %}" method="post" class="p-5 bg-light" id="formComment">
                  {% csrf_token %}
                  <input type="hidden" name="blogId" id="" value="{{blogletter.id}}">
                  <input type="hidden" name="parent" id="parent" value="">
                  <div class="form-group">
                    <label for="name">Name *</label>
                    <input type="text" class="form-control" name="name" id="name">
                  </div>
                  <div class="form-group">
                    <label for="email">Email *</label>
                    <input type="email" class="form-control" name="email" id="email">
                  </div>
<!--                  <div class="form-group">-->
<!--                    <label for="website">Website</label>-->
<!--                    <input type="url" class="form-control" id="website">-->
<!--                  </div>-->

                  <div class="form-group">
                    <label for="message">Message</label>
                    <textarea name="text" id="message" cols="30" rows="10" class="form-control"></textarea>
                  </div>
                  <div class="form-group">
                    <input type="submit" value="Post Comment" class="btn py-3 px-4 btn-primary">
                  </div>

                </form>
              </div>
            </div>
          </div> <!-- .col-md-8 -->

          {% include 'home/sidebarBlog.html' %}
        </div>
			</div>
		</section>
        <script>
          function addCommentId(name, id){
            document.getElementById("parent").value = id
            console.log("name : ",name)
            console.log("id : ",id)
          }
        </script>
    {% endblock %}